* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  margin: 0 2rem;
}

.navbarMenu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #d1d0d0;
  margin-bottom: 1rem;
}

.logo {
  display: flex;
}

.img {
  width: 64px;
  height: 64px;
  margin-right: 1rem;
}

.menu {
  margin-top: 1rem;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu ul li {
  color: #4386bf;
}

.menu ul li:hover {
  cursor: pointer;
}

.menu ul li:nth-child(2)::after {
  content: "|";
  margin-right: 0.5rem;
}

.card {
  border: none;
  margin-bottom: 1rem;
}

.menu ul li a {
  text-decoration: none;
  padding: 10px;
}

.menu a.active {
  text-decoration: underline;
}

.join-btn {
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  width: 7rem;
  padding: 0.5rem 0;
  border-radius: 0.3rem;
  border: 0.4px solid black;
}

.badge-primary {
  display: block;
  font-size: 0.8rem;
  width: 7rem;
  border-radius: 0.3rem;
  text-align: center;
  background-color: #18a2b8;
}

.red {
  background-color: #989ea4;
}

table tbody tr:nth-child(even) {
  background-color: #ececec;
}

.cardImg img {
  width: 250px;
  margin-right: 1rem;
}

.p1 {
  font-size: 1.5rem;
}

.p2 {
  font-size: 15px;
}

.card-1 {
  display: flex;
}

.button-a {
  background: rgb(53, 181, 231);
  border: none;
  color: #fff;
  padding: 5px;
}

.profileTable {
  width: 50%;
}

.leave-btn {
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  width: 7rem;
  padding: 0.5rem 0;
  border-radius: 0.3rem;
  border: 0.4px solid red;
  background-color: #fff;
  color:red;
}

.align {
  height: auto;
  text-align: center;
  vertical-align: middle;
}